<footer
    class="container mx-auto bg-white mt-5 shadow-md text-gray-700 lg:flex relative"
>
    <div
        class="lg:w-2/3 text-white bg-cover flex-wrap lg:flex lg:block hidden" "
    >
        {{footer}}
        <img class="" src="{{url}}" alt="" srcset="" />
        {{/footer}}
    </div>
</footer>

<div
    class="footer-small-text container mx-auto text-center text-gray-500 my-4 px-4"
>
    ©
    <a href="/" class="hover:text-nettt-pink hover:text-nettt-color"
        >Nettt Interactieve Media</a
    >
    2021 - webdesign &amp; webdevelopment Limburg -
    <a
        href="/voorwaarden-privacy"
        class="hover:text-nettt-pink hover:text-nettt-color"
        >Voorwaarden &amp; Privacy</a
    >
</div>
